*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    transition: .3s;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contain{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: #8080802e;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 45vh;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #0b979ee6;
}
.box p{
    font-size: 22px;
}
.box h1{
    font-size: 33px;
}